/.idea/
Java-kurs.iml
/out/production/Java-kurs/CustomScanner.class
/out/production/Java-kurs/HelloWorld.class
/out/production/Java-kurs/InkrementacjaDekrementacja.class
/out/production/Java-kurs/OperatoryMatematyczne.class
/out/production/Java-kurs/TypyObiektowe.class
/out/production/Java-kurs/TypyProste.class
/out/production/Java-kurs/Zmienne.class
